@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
  .row
    flex-direction: column
    align-items: center
  .card
    &__text
      margin-left: 0
    &__types
      margin-bottom: 5rem
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.94rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: unset
      min-width: 90%
    &__title
      max-width: 24.28rem
    &__text
      max-width: 26.8rem
      font-size: 1.55rem
      font-weight: 100
      margin-bottom: 2.59rem
    &__button
      display: block
      min-width: 101%
      margin-bottom: 2rem
      font-size: 1.11rem
      padding: 1.5rem 2.07rem
  .design
    background: $dark
    &__col:nth-child(3)
      li:nth-child(n+8)
        display: none
  .section
    padding: 1.2rem
  .section-title
    &__heading
      font-size: 1.85rem
      margin-top: 0
      padding-top: 1rem
      &_style
        color: $light
  .section-subtitle
    &__text
      font-size: 1.285rem
      line-height: 1.75rem
      color: $light
  .card
    &__text
      max-height: 18.615rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none
@media screen and ( min-height: 320px ) and ( max-height: 500px )
  .hero
    height: unset
    padding-bottom: 1rem 
@media screen and (orientation:landscape) and (max-device-height: 500px)
  html
    font-size: 8px
  .modal
    &__dialog
      overflow-y: scroll
      max-height: 21.42rem  