@media screen and ( max-width: 1200px )
  html
    font-size: 12px
  .nav
    &__item
      margin-right: 1rem
@media screen and ( max-width: 992px )
  .nav
    display: none
  .hero
    &__instagram
      display: none
    &__content
      margin-left: 0
@media screen and ( max-width: 760px )
  .row
    flex-direction: column
    align-items: center
  .types
    &__card
      margin-bottom: 5rem
  .card
    &__text
      margin-left: 0
@media screen and ( max-width: 570px )
  .contacts
    &__phone
      margin-right: 0
      color: $light
      text-decoration: none
    &__button
      display: none
  .title
    font-size: 1.94rem
  .hero
    &__scroll-down
      display: none
    &__content
      max-width: unset
      min-width: 90%
    &__title
      max-width: 24.28rem
    &__text
      max-width: 26.8rem
      font-size: 1.55rem
      font-weight: 100
      margin-bottom: 2.59rem
    &__button
      display: block
      min-width: 101%
      margin-bottom: 2rem
      font-size: 1.11rem
      padding: 1.5rem 2.07rem
  .section-title
    &__heading
      font-size: 1.85rem
      color: $light
      margin-top: 0
      padding-top: 1rem
@media screen and ( max-height: 520px )
  .hero
    &__scroll-down
      display: none 
  
  